name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    runs-on: ubuntu-latest

    steps:
      - name: Checking out repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install and upgrade dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          python3 -m pip install -U .[dev]

      - name: Analysing the code with pylint
        run: pylint singer

      - name: Runs tests with coverage
        run: pytest
