name: CI

on: [push]

jobs:
  build:
    
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    
    runs-on: ubuntu-latest

    steps:
      - name: Checking out repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.container[1] }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install and upgrade dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          python3 -m pip install -U .[dev]

      - name: Check code formatting
        run: find singer tests -type f -name '*.py' | xargs unify --check-only

      - name: Analysing the code with pylint
        run: pylint singer

      - name: Runs tests with coverage
        run: nosetests --with-doctest -v 

      - name: Install mypy types where available
        run: mypy --install-types

      - name: Runs mypy linter and type checks
        run: mypy --config-file ./mypy.ini singer
